/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */

$textColor: #fff;

.wrapper {
      margin-bottom: 50px;
}

.VirtualList > div{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  width: 48%;
  height: 0!important;
}

.header {
  background: rebeccapurple;
  text-align: center;
	-webkit-box-shadow: 0px 8px 5px 1px rgba(66,33,99,0.24);
  -moz-box-shadow: 0px 8px 5px 1px rgba(66,33,99,0.24);
  box-shadow: 0px 8px 5px 1px rgba(66,33,99,0.24);
}

.card {
  padding-bottom: 16px;
  margin: 16px 0;
  width: 24%;
  -webkit-box-shadow: 0px 8px 5px 1px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 8px 5px 1px rgba(0,0,0,0.24);
  box-shadow: 0px 8px 5px 1px rgba(0,0,0,0.24);
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  background-size:cover;
  color:$textColor;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  width:100%;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .body_content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 13px;
    margin: 0 10px;
    text-align: center;
    .body-content_top {
      align-content: flex-start;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid grey;
    }
  }
}

.body-footer {
  padding: 0 10px;
}

@media screen and (max-width:1200px) {
  .card {
    width: 49%;
  }
}
@media screen and (max-width:600px) {
  .card {
    width: 100%;
  }
}
