/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */


.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width:100%;
  background-size:cover;
  color:#fff;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:100%;
}


.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .body_content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 13px;
    .body-content_top {
      align-content: center;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid grey;
    }
  }
}

